body {
	background-color: #EDEDED;
}

h3 {
	text-align: center;
}

.divMenu {
	position: absolute;
	width: 95%;
	height: 9%;
}

.divHomePage {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	border: 1px solid silver;
}

.lenguage {
	position: absolute;
	right: 5%;
	top: 1%;
	width: 2%;
}

.colorLeguage {
	background-color: #EDEDED;
}

.login {
	position: absolute;
	top: 25%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 50%;
}

.errorLogin {
	position: absolute;
	top: 10.5%;
	right: 35%;
	border-top: solid silver 1px;
	border-left: solid silver 1px;
	border-right: solid silver 1px;
	width: 30%;
}

.imputBox {
	margin-left: 20%;
}

.textLogin {
	border: 1px solid silver;
}

.signin {
	position: absolute;
	top: 20%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 75%;
}

.errorSignin {
	position: absolute;
	top: 23.5%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
}

