.imputBoxBuy {
	position: absolute;
	left: 10%;
	top: 100%;
}

.errorChoiche {
	position: absolute;
	top: 25%;
	left: 40%;
	width: 30%;
}

.buttonBackChoiche {
	position: absolute;
	top: 110%;
	left: 15%
}

.currencyTotal {
	position: absolute;
	left: 75%;
	top : -10%;
	
}