<div *ngIf="alert" class="loginAlert">
    <app-alerts></app-alerts>
</div>	
<div class="login">
  <div class="textLogin">
    <h3>Login</h3>
  </div>
   <form>
      <br>
        <span class="imputBox">{{ 'username' | translate}}</span>
        <input name = "user" type = "text" [(ngModel)] = "user" class="imputBox" >
      <p></p>
        <span class="imputBox">{{ 'password' | translate}}</span>
        <input  name = "pass" type = "password" [(ngModel)] = "pass" class="imputBox">
      <br />
        <button type="submit" class="btn btn-outline-secondary buttonLogin" (click)="login()">{{ 'button.login' | translate}}</button>
  </form>
</div>
<ngx-spinner></ngx-spinner>
