.buttonAccount {
	position: absolute;
	top: 5%;
	right: 1%;
}
.buttonHome {
	position: absolute;
	top: 5%;
	left: 2%;
}

.buttonForum {
	position: absolute;
	top: 5%;
	left: 30%;
}

.buttonMarket {
	position: absolute;
	top: 5%;
	right: 30%;
}

.buttonLogin {
	position: absolute;
	top: 80%;
	left: 35%
}

.padding {
	padding-top: 20vh;
}