<div class="divMenu">
	<app-menu-ourpoolstats></app-menu-ourpoolstats>
</div>

<div class="divDashboard">
	<div class="lenguage">
		
	</div>
	<div class="buttonOption">
		<app-menu-options></app-menu-options>
	</div>

	<div class="buttonCoin">
		<app-menu-coin></app-menu-coin>
    </div>
    
    <div class="buttonValue">
        <app-menu-value-coin></app-menu-value-coin>
    </div>

	<div class="viewDashboard">		
            <mat-paginator #paginator
            [length]="totalRows$ | async"
            [pageIndex]="0"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"
          ></mat-paginator>
          
          <mat-accordion displayMode="flat" multi class="mat-table">
            <section matSort class="mat-elevation-z2 mat-header-row">
              <span class="mat-header-cell" >{{'coin.image' | translate}}</span>
              <span class="mat-header-cell" >{{'coin.name' | translate}}</span>
              <span class="mat-header-cell">{{'coin.priceUsd' | translate}}</span>
              <span class="mat-header-cell">{{'coin.change24' | translate}}</span>
            </section>
          
            <mat-expansion-panel *ngFor="let item of displayedRows$| async;let i=index">
              <mat-expansion-panel-header class="mat-row">
                <span class="mat-cell"><img src='{{item.image}}' width="30px"></span>
                <span class="mat-cell">{{item.name}}</span>
                <span class="mat-cell">{{item.current_price}}</span>
                <span class="mat-cell {{item.price_change_percentage_24h>=0 ? 'green' : 'red'}}">{{item.price_change_percentage_24h}}</span>
              </mat-expansion-panel-header>
              <div>
                <pre>
                 <span>{{'coin.name' | translate}} : {{item.name}}</span>
                 <span>{{'coin.priceBtc' | translate}} : {{item.priceBtc}}</span>    
                </pre>
              </div>
            </mat-expansion-panel>
          
          </mat-accordion>
      
      
		
	</div>
</div>
