<button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="https://findicons.com/files/icons/88/mac/128/setting.png" width="30" />
 </button>	 
 <div class="dropdown-menu colorLeguage">
    <button type="submit" class="dropdown-item colorLeguage" ng-if="typeUser == 'ADMIN'" (click)="goToCreateUser()">Inserisci Utente</button>
    <button type="submit" class="dropdown-item colorLeguage" ng-if="typeUser == 'ADMIN'" (click)="goToListUser()">Lista Utenti</button>
    <button type="submit" class="dropdown-item colorLeguage" ng-if="typeUser == 'ADMIN' || 'MANAGER'" (click)="goToAddCoin()">Aggiungi Monete</button>
    <button type="submit" class="dropdown-item colorLeguage" ng-if="typeUser == 'ADMIN' || 'MANAGER'"  (click)="goToDeleteCoin()">Cancella Monete</button>
    <button type="submit" class="dropdown-item colorLeguage" ng-if="typeUser == 'ADMIN' || 'MANAGER'" (click)="goToLogUser('all')">Visualizza Log Utenti</button>
    <button type="submit" class="dropdown-item colorLeguage" (click)="goToUserOnline()">Visualizza Utenti online</button>
  </div>