<div class="divMenu">
    <app-menu-ourpoolstats></app-menu-ourpoolstats>
  </div>
  
  <div class="divDashboard">
    <div class="buttonOption">
      <app-menu-options></app-menu-options>
    </div>
    
    <div class="viewDashboard">	
      	<div *ngIf="error">
            <app-alerts></app-alerts>
        </div>
      	<div class="createUser margin-top_40">
            <form>
                <nav>
                    <p class="imputBox"><strong>{{'operation.createUser' | translate}}</strong></p>
                  </nav>
                  <span class="imputBox">{{'name'| translate}}</span>
                  <input type="text" name="name" class="imputBox"  [(ngModel)]="name" >
                  <span class="imputBox">{{'surname' | translate}}</span>
                  <input type="text" name="userSurname" class="imputBox"  [(ngModel)]="surname" >
                  <span class="imputBox">{{'email' | translate}}</span>
                  <input type="text" name="email" class="imputBox"  [(ngModel)]="email" >
                  <span class="imputBox">{{'username' | translate}}</span>
                  <input type="text" name="username" class="imputBox"  [(ngModel)]="username"  >
                  <span class="imputBox">{{'password' | translate}}</span>
                  <input type="password" name ="password" class="imputBox"  [(ngModel)]="password" ><br />
                  <nav> 
                    <button type="submit" class="btn btn-outline-secondary margin-top_10 margin-left_30" (click)="back()">{{'button.back' | translate}}</button>
                    <button type="submit" (click)="createUser()"  class="btn btn-outline-secondary margin-top_10 margin-left_30">{{'button.confirm' | translate}}</button>		
                  </nav>
            </form>  
          </div>	
      
    </div>
  </div>
