<div class="divMenu">
    <app-menu-ourpoolstats></app-menu-ourpoolstats>
  </div>
  
  <div class="divDashboard">
    <div class="buttonOption">
      <app-menu-options></app-menu-options>
    </div>
    
    <div class="viewDashboard">	
      	<div *ngIf="error">
            <app-alerts></app-alerts>
        </div>
      	<div class="createUser margin-top_40">
            <form>
                <nav>
                    <p class="imputBox"><strong>{{'operation.createUser' | translate}}</strong></p>
                  </nav>
                  <mat-form-field class="imputBox">
                    <input matInput placeholder="{{'name' | translate}}" [formControl]="name" required>
                    <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                  <mat-form-field class="imputBox">
                    <input matInput placeholder="{{'surname' | translate}}" [formControl]="surname" required>
                    <mat-error *ngIf="surname.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field><mat-form-field class="imputBox">
                    <input matInput placeholder="Email" [formControl]="email" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                  <mat-form-field class="imputBox">
                    <input matInput placeholder="{{'username' | translate}}" [formControl]="username" required>
                    <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                  <mat-form-field class="imputBox">
                    <input matInput placeholder="{{'password' | translate}}" [formControl]="password" required>
                    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>
                  </mat-form-field>
                  <nav> 
                    <button type="submit" class="btn btn-outline-secondary margin-top_10 margin-left_30" (click)="back()">{{'button.back' | translate}}</button>
                    <button type="submit" (click)="createUser()"  class="btn btn-outline-secondary margin-top_10 margin-left_30">{{'button.confirm' | translate}}</button>		
                  </nav>
            </form>  
          </div>	
      
    </div>
  </div>
