<mat-paginator #paginator
      [length]="totalRows$ | async"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
    ></mat-paginator>
    
    <mat-accordion displayMode="flat" multi class="mat-table">
      <section matSort class="mat-elevation-z2 mat-header-row">
        <span class="mat-header-cell" >{{'coin.image' | translate}}</span>
        <span class="mat-header-cell" >{{'coin.name' | translate}}</span>
        <span class="mat-header-cell">{{'coin.priceUsd' | translate}}</span>
        <span class="mat-header-cell">{{'coin.priceBtc' | translate}}</span>
        <span class="mat-header-cell">{{'coin.change1' | translate}}</span>
        <span class="mat-header-cell">{{'coin.change24' | translate}}</span>
      </section>
    
      <mat-expansion-panel *ngFor="let item of displayedRows$| async;let i=index">
        <mat-expansion-panel-header class="mat-row">
          <span class="mat-cell"><img src='{{item.symbol}}' width="30px"></span>
          <span class="mat-cell">{{item.name}}</span>
          <span class="mat-cell">{{item.priceUsd}}</span>
          <span class="mat-cell">{{item.priceBtc}}</span>
          <span class="mat-cell {{item.perc_1>=0 ? 'green' : 'red'}}">{{item.perc_1}}</span>
          <span class="mat-cell {{item.perc_24>=0 ? 'green' : 'red'}}">{{item.perc_24}}</span>
        </mat-expansion-panel-header>
        <div>
          <pre>
            <div>
              <span>{{'coin.chage7' | translate}} : {{item.perc_7}}</span>
              <span>{{'coin.lastUpdate' | translate}} : {{item.lastUpdate}}</span>
            </div>
            <div class="infoCoin">
                <span>{{'coin.avaibleSupply' | translate}} : {{item.supplyAvaible}}</span>
                <span>{{'coin.maxSupply' | translate}} : {{item.maxSupply}}</span>
            </div>
            <div class="graphic">
              <button type="button" class="btn">
                <img src="assets/image/chart.png" width="30">
             </button>
            </div>
          </pre>
        </div>
      </mat-expansion-panel>
    
    </mat-accordion>




















