@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
	background-color: #EDEDED;
}

h3 {
	text-align: center;
}

.margin-left_10{
	margin-left: 10px; 
}

.margin-left{
	margin-left: 20px; 
}
.margin-left_30{
	margin-left: 30px; 
}
.margin-top_10{
	margin-top :10px;
}

.margin-top_20{
	margin-top :20px;
}

.margin-top_30{
	margin-top :30px;
}

.margin-top_40{
	margin-top :40px;
}
.divMenu {
	position: absolute;
	width: 95%;
	height: 9%;
	top : 2%;
}

.divDashboard {
	position: absolute;
	width: 90%;
	height: 80%;
	top: 15%;
	left: 5%;
	overflow: scroll;
}

.divDashboard .lenguage {
	position: absolute;
	right: 8%;
	top: 1%;
	width: 2%;
}

.divDashboard .viewDashboard {
	position: absolute;
	top: 15%;
	width: 95%;
	left: 2%;
}

.divDashboard .buttonCoin{
	position: absolute;
	left: 40%;
	top: 1%;
}

.divDashboard .buttonOption{
	position: absolute;
	left: 1%;
	top: 1%;
}

.colorLeguage {
	background-color: #EDEDED;
}



.divDashboard .signin {
	position: absolute;
	top: 5%;
	right: 35%;
	width: 30%;
	height: 95%;
}

.deleteUser {
	position: absolute;
	top: 25%;
	right: 35%;
	width: 30%;
	height: 40%;
}

.logUser {
	position: absolute;
	top: 15%;
	left: 30%;
	max-height: 350px;
	margin-bottom: 10px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.userOnline {
	position: absolute;
	top: 15%;
	left: 40%;
}

.addImage {
	position: absolute;
	top: 25%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 40%;
}

.changeEmail {
	position: absolute;
	top: 25%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 45%;
}

.tableBorder {
	border: 1px solid silver;
}

.successOperation {
	position: absolute;
	top: 23.5%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 50%;
}



.coinSelected {
	position: absolute;
	top: 20%;
}

.green {
	color: green;
}

.red {
	color: red;
}
.positionImageInfo {
	position: absolute;
	left: 45%;
	top: 15%;
}

.divInfo {
	position: absolute;
	width: 30%;
}

.divGraphic {
	position: absolute;
	width: 70%;
	left: 30%;
}


.buttonChangeUser {
	margin-top: 10px;
	margin-left: 47%
}


.buttonAddImage {
	margin-top: 10px;
	margin-left: 47%
}

.buttonBackAddImage {
	position: absolute;
	margin-top: -38px;
	margin-left: 20%;
}

.buttonChangeEmail {
	margin-top: 10px;
	margin-left: 47%
}



.buttonAccount {
	position: absolute;
	top: 5%;
	right: 1%;
}