
.divMenu {
	position: absolute;
	width: 95%;
	height: 9%;
}

body {
	background-color: #EDEDED;
}


.divDashboard {
	position: absolute;
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	border: 1px solid silver;
	overflow: scroll;
}

.lenguage {
	position: absolute;
	right: 5%;
	top: 1%;
	width: 2%;
}

.colorLeguage {
	background-color: #EDEDED;
}

.changeUserType {
	position: absolute;
	top: 25%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 45%;
}


.imputBox {
	margin-left: 78px;
}

.createUser {
	position: absolute;
	top: 15%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 95%;
}

.signin {
	position: absolute;
	top: 5%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 95%;
}

.deleteUser {
	position: absolute;
	top: 25%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 40%;
}

.logUser {
	position: absolute;
	top: 15%;
	left: 30%;
	max-height: 350px;
	margin-bottom: 10px;
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
}

.userOnline {
	position: absolute;
	top: 15%;
	left: 40%;
}

.addImage {
	position: absolute;
	top: 25%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 40%;
}

.changeEmail {
	position: absolute;
	top: 25%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 45%;
}

.changePassword {
	position: absolute;
	top: 25%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 45%;
}

.tableBorder {
	border: 1px solid silver;
}

.successOperation {
	position: absolute;
	top: 23.5%;
	right: 35%;
	border: solid silver 1px;
	width: 30%;
	height: 50%;
}

.viewDashboard {
	position: absolute;
	top: 15%;
	width: 95%;
	left: 2%;
}

.coinSelected {
	position: absolute;
	top: 20%;
}

.green {
	color: green;
}

.red {
	color: red;
}

.buttonOption {
	position: absolute;
	left: 1%;
	top: 1%;
}

.buttonCoin {
	position: absolute;
	left: 40%;
	top: 1%;
}

.buttonValue {
	position: absolute;
	left: 60%;
	top: 1%;
}

.buttonChangeUser {
	margin-top: 10px;
	margin-left: 47%
}

.buttonBack {
	position: absolute;
	top: 90%;
	left: 15%
}

.buttonSignin {
	position: absolute;
	top: 90%;
	left: 55%
}

.buttonAddImage {
	margin-top: 10px;
	margin-left: 47%
}

.buttonBackAddImage {
	position: absolute;
	margin-top: -38px;
	margin-left: 20%;
}

.buttonChangeEmail {
	margin-top: 10px;
	margin-left: 47%
}

.buttonChangeSetPassword {
	margin-top: 20px;
	margin-left: 27%
}

.buttonAccount {
	position: absolute;
	top: 5%;
	right: 1%;
}
.buttonHome {
	position: absolute;
	top: 5%;
	left: 2%;
}

.buttonLoginSignin {
	position: absolute;
	top: 5%;
	right: 1%;
}

.buttonForum {
	position: absolute;
	top: 5%;
	left: 30%;
}

.buttonMarket {
	position: absolute;
	top: 5%;
	right: 30%;
}

.buttonLogin {
	position: absolute;
	top: 80%;
	left: 35%
}

.buttonSigninLogin {
	position: absolute;
	top: 80%;
	left: 15%
}

.forgotPassword {
	position: absolute;
	top: 105%;
	left: 20%;
}

.buttonSignin {
	position: absolute;
	top: 90%;
	right: 75%
}

.buttonBackSignin {
	position: absolute;
	top: 90%;
	left: 15%
}


