<div class="divMenu">
    <app-menu-ourpoolstats></app-menu-ourpoolstats>
  </div>
  
  <div class="divDashboard">
    <div class="lenguage">
      
    </div>
    <div class="buttonOption">
      <app-menu-options></app-menu-options>
    </div>
  
    <div class="buttonCoin">
      <app-menu-coin></app-menu-coin>
    </div>
  
    <div class="viewDashboard">		
        <div *ngIf="error">
            <app-alerts></app-alerts>
        </div>
        <div class="changeUserType margin-top_40">
            <form>
            <nav class="margin-top_30">
              <p><strong>{{'operation.changeTypeUser' | translate}}</strong></p>
            </nav>
              <mat-form-field>
                <mat-label>{{'userType' | translate}}</mat-label>
                <mat-select>
                  <mat-option *ngFor="let types of type" 
                              [value]="types.value"
                              (click)="setParams($event, types)">
                    {{types.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <nav>  
                <button type="submit" class="btn btn-outline-secondary buttonBack margin-top_10" (click)="back()">{{'button.back' | translate}}</button>
                <button type="submit" class="btn btn-outline-secondary margin-top_10 margin-left" (click)="changeUserType()">{{'button.confirm'| translate}}</button>
              </nav>
            </form>
            
            
        </div>
    </div>
  </div>