<div class="divMenu">
    <app-menu-ourpoolstats></app-menu-ourpoolstats>
</div>
<div class="positionImageInfo">
  <img src="{{coin.image}}" width="30px">
</div>  	
<div class="divDashboard">
  <div class="viewDashboard">
      <div class="divInfo">
          <p>Nome : {{coin.name}}</p>
          <p>Prezzo Btc : {{coin.price_btc}}</p>
          <p>Prezzo USD : {{coin.price_usd}} $</p>
          <p>Market Cap : {{coin.market_cap_usd}} $</p>       
      </div>
      <div class="divGraphic">
          <app-graphic-coin-market></app-graphic-coin-market>
      </div>
		
    </div>
</div>