<div class="divMenu">
  <app-menu-ourpoolstats></app-menu-ourpoolstats>
</div>

<div class="divDashboard">
  <div class="buttonOption">
    <app-menu-options></app-menu-options>
  </div>
  
  <div class="viewDashboard">	
      <div class="changePassword">
         <form>
              <span><strong>{{ 'setPassworrd.changePassword' | translate}}</strong></span><br>
              <span class="imputBox">{{'setPassworrd.oldPassword' | translate}}</span><br>
              <input type="password" name="password" class="imputBox margin-top_10" [(ngModel)]="oldPassword"><br>
              <span class="imputBox">{{'password' | translate}}</span><br>
              <input type="password" name="password" class="imputBox" [(ngModel)]="password"><br>
              <span class="imputBox">{{'setPassworrd.repeatPassword' | translate}}</span><br>
              <input type="password" name="repeatPassword" class="imputBox" [(ngModel)]="repeatPassword" >
              <nav>
                <button type="submit" class="btn btn-outline-secondary margin-top_10" (click)="back()">{{'button.back' | translate}}</button>
                <button type="submit"  class="btn btn-outline-secondary margin-left margin-top_10" (click)="changePassword()">{{'button.confirm' | translate}}</button> 
              </nav>
            
            </form>
            

    
  </div>
</div>
