<div class="divMenu">
  <app-menu-ourpoolstats></app-menu-ourpoolstats>
</div>

<div class="divDashboard">
  <div class="buttonOption">
    <app-menu-options></app-menu-options>
  </div>
  
  <div class="viewDashboard">	
      <div class="changePassword">
         <!-- <form>
              <p><strong>{{setPasswordLabels.orpLabels.password}}</strong></p>
              <p class="imputBox">{{setPasswordLabels.orpLabels.password}}</p>
              <input type="password" name="password" class="imputBox" >
              <p class="imputBox">{{setPasswordLabels.orpLabels.repeatPassword}}</p>
              <input type="password" name="repeatPassword" class="imputBox" >
              <input type="submit" value="{{setPasswordLabels.orpLabels.password}}"  class="btn btn-outline-secondary buttonChangeSetPassword">
            
            </form>
            <form>
              <input type="submit" value="back" class="btn btn-outline-secondary buttonBack" (click)="back()">
            </form>-->

            <div
          style="font-style: italic"
          [ngStyle.xs]="{'font-size.px': 10, color: 'blue'}"
          [ngStyle.sm]="{'font-size.px': 20, color: 'lightblue'}"
          [ngStyle.md]="{'font-size.px': 30, color: 'orange'}"
          [ngStyle.lg]="styleLgExp">
        </div>
        </div>	
    
  </div>
</div>
