<div class="divMenu">
  <app-menu-ourpoolstats></app-menu-ourpoolstats>
</div>

<div class="divDashboard">
  <div class="buttonOption">
    <app-menu-options></app-menu-options>
  </div>
  
  <div class="viewDashboard">	
      <div class="changePassword">
         <form>
              <p><strong>{{setPasswordLabels.orpLabels.changePassword}}</strong></p>
              <p class="imputBox">{{setPasswordLabels.orpLabels.oldPassword}}</p>
              <input type="password" name="password" class="imputBox" [(ngModel)]="oldPassword">
              <p class="imputBox">{{setPasswordLabels.orpLabels.password}}</p>
              <input type="password" name="password" class="imputBox" [(ngModel)]="password">
              <p class="imputBox">{{setPasswordLabels.orpLabels.repeatPassword}}</p>
              <input type="password" name="repeatPassword" class="imputBox" [(ngModel)]="repeatPassword" >
              <nav>
                <input type="submit" value="back" class="btn btn-outline-secondary margin-top_10" (click)="back()">
                <input type="submit" value="Conferma"  class="btn btn-outline-secondary margin-left margin-top_10" (click)="changePassword()"> 
              </nav>
            
            </form>
            

    
  </div>
</div>
