.divDashboard .viewDashboard .buttonChangeSetPassword {
    position: absolute;
	top: 38vh;
	left: 15vh;
}

.divDashboard .viewDashboard .buttonBackSetPassword{
	position: absolute;
	top: 38vh;
}
.changePassword{
    position: absolute;
	top: 25%;
	right: 35%;
	width: 30%;
	height: 45%;
}